html {
  height: 100%;
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  flex: auto;
  min-height: 100%;
}
ul {
  list-style: none;
}
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
.main-header {
  font-size: 2rem;
  background: url("../../img/p/p-bg-mix.jpg") repeat;
  box-shadow: 0 3px 2px 0 #000;
}
.main-header__wrap {
  margin: 0 auto;
  width: 960px;
  text-align: center;
}
.main-nav {
  font-size: 0;
}
.main-nav__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}
.main-nav__link {
  color: #000;
  font: 400 italic 3rem/1 "Times New Roman";
  text-decoration: none;
}
.main-nav__link:hover {
  text-shadow: 1px 1px 4px #000, 0 0 1em #c5c5c5;
}
.main-nav__link--active {
  text-shadow: 1px 1px 2px #000, 0 0 1em #c5c5c5;
}
.main-footer {
  position: fixed;
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  background: url("../../img/p/p-bg-mix.jpg") repeat;
}
.main-footer__wrap {
  margin: 0 auto;
  width: 960px;
  text-align: center;
}
.main-footer__title {
  font: 400 italic 3rem/1 "Times New Roman";
}
.content {
  flex-grow: 1;
  font-size: 2rem;
  position: relative;
  background-color: #FEF5E4;
}
.content__wrap {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
.slider__slide {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider__slide:last-child {
  top: 35%;
}
.slider__show {
  display: block;
  animation: visible 1.5s ease-in;
}
.slider__slide-title {
  font: 400 italic 3rem/1 "Times New Roman";
  color: #000;
}
.slider__my-descr {
  margin-top: 20px;
}
.slider__about-me {
  white-space: pre-wrap;
  text-align: left;
}
.slider__my-photo {
  display: block;
  float: left;
  margin-right: 10px;
  box-shadow: 0 0 4px 4px #c5c5c5;
}
.flap {
  display: none;
}
.portfolio {
  padding: 30px 0;
  font-size: 0;
}
.portfolio__unit {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 300px;
  margin: 0 100px 50px 0;
  overflow: hidden;
  box-shadow: 0 0 4px 0 #555;
}
.portfolio__unit:nth-child(2n) {
  margin: 0;
}
.portfolio__link {
  display: block;
  min-height: 100%;
}
.portfolio__descr {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;
  font: 700 italic 1.5rem/1 "Times New Roman";
  color: #000;
  background-color: #FEF5E4;
  border-radius: 3px;
}
@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
