.main-header {
    font-size: 2rem;
    background-color: @color-six;
    box-shadow: 0 3px 2px 0 @color-main;
    &__wrap {
        margin: 0 auto;
        width: 960px;
        text-align: center;
    }
}