.main-footer {
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    width: 100%;
    background: url("../../img/p/p-bg-mix.jpg") repeat;
    &__wrap {
        margin: 0 auto;
        width: 960px;
        text-align: center;    
    }
    &__title {
        font: 400 italic 3rem/1 @font-main;
    }
}